---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

img {
    border-radius: 50%;
  }

.sidebarrightcolumn {
float: left;
width: 50%;
padding: 5px;
}

/* Clearfix (clear floats) */
.sidebarrightrow::after {
content: "";
clear: both;
display: table;
}